In [2]:
from pathlib import Path
import pandas as pd

In [3]:
data_path = Path('mock/data')

In [8]:
dfs=[]

for f in data_path.iterdir():
    if str(f).endswith('parquet'):
        dfs.append( pd.read_parquet(f))
        
dfs

[         bmi
 0   26.63187
 1   23.24236
 2   27.11609
 3   27.43554
 4   28.69720
 ..       ...
 95  27.34205
 96  27.34205
 97  31.63544
 98  20.65988
 99  20.46840

 [100 rows x 1 columns],
      age
 0   70.0
 1   70.0
 2   55.0
 3   88.0
 4   75.0
 ..   ...
 95  73.0
 96  73.0
 97  53.0
 98  57.0
 99  60.0

 [100 rows x 1 columns],
     event_happened  event_time
 0             True       297.0
 1             True         1.0
 2             True      1496.0
 3             True       920.0
 4             True      1671.0
 ..             ...         ...
 95           False      2145.0
 96           False      2125.0
 97           False      1920.0
 98           False      2025.0
 99           False      1887.0

 [100 rows x 2 columns]]

In [11]:
df = pd.concat(dfs, axis=1)
df

         bmi   age  event_happened  event_time
0   26.63187  70.0            True       297.0
1   23.24236  70.0            True         1.0
2   27.11609  55.0            True      1496.0
3   27.43554  88.0            True       920.0
4   28.69720  75.0            True      1671.0
..       ...   ...             ...         ...
95  27.34205  73.0           False      2145.0
96  27.34205  73.0           False      2125.0
97  31.63544  53.0           False      1920.0
98  20.65988  57.0           False      2025.0
99  20.46840  60.0           False      1887.0

[100 rows x 4 columns]

In [13]:
def select_rows(data_length, num_rows=20):
    """
    Select a subset of data so that it includes both censored and non-censored data. Assuming the
    censored data follows after the non-censored data.
    Args:
        data:

    Returns:
    """
    if num_rows > data_length:
        raise Exception(f'Selecting too many rows. There are only {data_length} available.')

    num_start = num_rows // 2
    num_end = num_rows - num_start

    censored_selection = range(num_start)
    uncensored_selection = range(data_length - num_end, data_length)

    return list(censored_selection) + list(uncensored_selection)

In [14]:
selection = select_rows(df.shape[0])

subset = df.iloc[selection]
subset

         bmi   age  event_happened  event_time
0   26.63187  70.0            True       297.0
1   23.24236  70.0            True         1.0
2   27.11609  55.0            True      1496.0
3   27.43554  88.0            True       920.0
4   28.69720  75.0            True      1671.0
5   18.56161  54.0            True       865.0
6   23.67519  70.0            True       905.0
7   24.37450  51.0            True      2353.0
8   22.65552  73.0            True        61.0
9   35.27571  49.0            True      2358.0
90  25.50204  80.0           False      1939.0
91  26.60883  53.0           False      1940.0
92  24.37440  71.0           False      1941.0
93  22.67395  73.0           False      1933.0
94  27.26234  41.0           False      2084.0
95  27.34205  73.0           False      2145.0
96  27.34205  73.0           False      2125.0
97  31.63544  53.0           False      1920.0
98  20.65988  57.0           False      2025.0
99  20.46840  60.0           False      1887.0

In [15]:
from sksurv.datasets import get_x_y

In [16]:
features, outcome = get_x_y(subset, ('event_happened', 'event_time'), pos_label=True)

features, outcome

(         bmi   age
 0   26.63187  70.0
 1   23.24236  70.0
 2   27.11609  55.0
 3   27.43554  88.0
 4   28.69720  75.0
 5   18.56161  54.0
 6   23.67519  70.0
 7   24.37450  51.0
 8   22.65552  73.0
 9   35.27571  49.0
 90  25.50204  80.0
 91  26.60883  53.0
 92  24.37440  71.0
 93  22.67395  73.0
 94  27.26234  41.0
 95  27.34205  73.0
 96  27.34205  73.0
 97  31.63544  53.0
 98  20.65988  57.0
 99  20.46840  60.0,
 array([( True, 2.970e+02), ( True, 1.000e+00), ( True, 1.496e+03),
        ( True, 9.200e+02), ( True, 1.671e+03), ( True, 8.650e+02),
        ( True, 9.050e+02), ( True, 2.353e+03), ( True, 6.100e+01),
        ( True, 2.358e+03), (False, 1.939e+03), (False, 1.940e+03),
        (False, 1.941e+03), (False, 1.933e+03), (False, 2.084e+03),
        (False, 2.145e+03), (False, 2.125e+03), (False, 1.920e+03),
        (False, 2.025e+03), (False, 1.887e+03)],
       dtype=[('event_happened', '?'), ('event_time', '<f8')]))

In [17]:
from sksurv.linear_model import CoxPHSurvivalAnalysis

In [18]:
model = CoxPHSurvivalAnalysis()

model.fit(features, outcome)

CoxPHSurvivalAnalysis()

In [19]:
model.coef_

array([-0.15316136,  0.05067197])

In [20]:
test_df.event_happened.dtype

NameError: name 'test_df' is not defined